* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 600px;
    height: 600px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button.change_grid {

    margin: 20px 0;
    padding: 20px;
}